<template>
    <div>
        <h1>List Of Companies in NSE</h1>
        <div v-if="companyList.length" >
            <div class="input-group input-group-lg" >
                <span class="input-group-addon" id="sizing-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input class="form-control" aria-describedby="sizing-addon1" v-model="searchQry" v-on:keyup="onSearch" placeholder="">
            </div>
            <div class="container-fluid table-responsive" style="overflow: scroll; height: 85vh">
                <table class="table">
                    <thead>
                        <th scope="col">#</th>
                        <th>CompanyName</th>
                        <th>Symbol</th>
                        <th>Series</th>
                        <th>Sector</th>
                        <th>Last Price</th>
                    </thead>
                    <tbody>
                            <tr v-for="(item, index) in companyList">
                                <td>{{index+1}}</td>
                                <td>{{item.companyName}}</td>
                                <td>{{item.symbol}}</td>
                                <td>{{item.series}}</td>
                                <td>{{item.industry}}</td>
                                <td>{{item.ltp}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p v-else>{{statusMessage}}</p>
    </div>
</template>

<script src="./companyList.ts"></script>
