<template>
        <div>
            <h1 align="center">Today's Report</h1>
            <div v-if="displayItem.length" >
                <div class="input-group input-group-lg" >
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input class="form-control" aria-describedby="sizing-addon1" v-model="searchQuery" v-on:keyup="onSearch"
                           v-bind:placeholder="searchPlaceHolder">
                </div>

                <div class="container-fluid table-responsive" style="overflow: scroll; overflow-x: auto; height: 80vh">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th v-for="item in table_display_data">
                                <a v-on:click="sortBy(item.data_field_name)" v-if="item.sort_link">
                                   {{item.header_field_name}}
                                </a>
                                <i v-else>{{item.header_field_name}}</i>
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in displayItem">
                                <td>{{index+1}}</td>
                                <td v-for="field in table_display_data">{{item[field.data_field_name]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p style="color: red" v-else>{{statusMessage}}</p>
        </div>
    </template>

    <style src="../common_css/table.css"></style>
    <script src="./today.ts"></script>
